/**************************************
TITLE: Lab 1 - Expressions, Functions and Objects
AUTHOR: Dwight Abrahams (DA)
CREATE DATE: 23 Jan 2023
PURPOSE: This program shows a basic understanding of using html, css, and javascript from individual files.
LAST MODIFIED ON: 25 Jan 2023
LAST MODIFIED BY: Dwight Abrahams (DA)
MODIFICATION HISTORY:
25 Jan 2023 - Edited color, and fonts for the HTML output. (DA)
**************************************/

#pageTitle {
    background-color: #9D2235;
    color: #ffffff;
    text-align: center;
    padding: 5px;
}

#container {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 5px;
    
}

#arrNamesModified {
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding: 5px;
}

#arrNumbersModified {
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding: 5px;
}   

#personDetailsUpdated {
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding: 5px;
}